*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@font-face{
	font-family: 'Poppins regular';
	src:url(fonts/Poppins-Regular.ttf);
	font-weight: 400;
}

@font-face{
	font-family: 'Poppins semiBold';
	src:url(fonts/Poppins-SemiBold.ttf);
	font-weight: 600;
}

@font-face{
	font-family: 'Opem sans';
	src:url(fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}


:root{
	/*Colors*/
	--Violet: hsl(257, 40%, 49%);
	--Soft-Magenta: hsl(300, 69%, 71%);
}

body{
	background: var(--Violet);
	background-repeat: no-repeat;	
}

img[alt="desktop"]{
	position: relative;
	height:100vh;
	width: 1190px;
}

img[alt="mobile"]{
	display: none;
}

main{
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

main header{
	height: 140px;
	width: 100%;
}

header img{
	height: 47px;
	margin: calc((140px - 47px)/2) 66px;
}

.container{
	width: 1165px;
	height: 454px;
	margin: 30px auto;
}

.container .mockup{
	float: left;
	width: 637px;
	height: 454px;
}

.mockup img{
	position: relative;
	top: 3px;
	width: 100%;
	height: 100%;
}

.text{
	float: right;
	width: calc(1165px - 639px);
	height: 100%;
	padding: 43px 16px 40px 45px;
}

.text h1{
	font-family: 'Poppins semiBold';
	color: white;
	font-size: 35px;
}

.text p{
	font-family: 'Opem sans';
	color: white;
	font-size: 16px;
	margin-top: 19px;
	line-height: 24px;
}

.text button{
	width: 180px;
	height: 50px;
	border-radius: 30px;
	background-color: white;
	margin-top: 21px;
	font-family: 'Poppins regular';
	font-size: 16px;
	color: var(--Violet);
	border: none;
	box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
}

.text button:hover{
	background-color: var(--Soft-Magenta);
	color: white;
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height: 50px;
	display: block;
	bottom: 14px;
	padding-right: 68px;
}

footer div.social{
	float: right;
	height: 37px;
	width: 37px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 6px 7px;
}

footer div.social .icon{
	display: block;
	color: white;
	text-align: center;
	margin: 10px auto;
}

footer div.social:hover{
	border-color: var(--Soft-Magenta);
	cursor: pointer;
	color: var(--Soft-Magenta);
}

footer div.social:hover .icon{
	cursor: pointer;
	color: var(--Soft-Magenta);
}

@media (max-width: 375px){
	main{
		width: 100%;
		height: auto;
	}

	main header{
		height:80px;
	}

	header img{
		height: 28px;
		margin: 28px 29px 28px 30px;
		padding: 0px;
	}

	.container{
		width: 80%;
		height: 505px;
		margin: 25px auto;
	}

	.container .mockup{
		clear: both;
		width: 100%;
		height: 193px;
	}

	.mockup img{
		position: relative;
		top: 5px;
		width: 100%;
		height: 100%;
	}


	img[alt="desktop"]{
		display: none;
	}

	img[alt="mobile"]{
		position: relative;
		width: 100%;
		height: 338px;
		display: block;
	}

	.text{
		clear: both;
		width: 100%;
		height: calc(505px - 193px);
		padding: 59px 1px 10px 1px;
		text-align: center;
	}

	.text h1{
		font-size: 21px;
		line-height: 32px;
	}

	.text p{
		font-size: 14px;
		margin-top: 14px;
		line-height: 21px;
	}

	.text button{
		width: 180px;
		height: 35px;
		margin-top: 24px;
		font-size: 10px;
		box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
	}

	footer{
		position: relative;
		width: 100%;
		height: 30px;
		bottom: -20px;
	}

	footer .sociales{
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 150px;
		margin: 0px 0px;
		margin-left: calc(50% - 39px);
	}

	footer .sociales div.social{
		display: inline-block;
		height: 24px;
		width: 24px;
		border: 1px solid white;
		border-radius: 50%;
		margin: 0px 5px;
	}

	.social span.icon{
		display: block;
		font-size: 11px;
		margin: 4px auto;
		line-height: 1px;
	}
}