*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@font-face{
	font-family: 'Poppins regular';
	src:url(fonts/Poppins-Regular.ttf);
	font-weight: 400;
}

@font-face{
	font-family: 'Poppins semiBold';
	src:url(fonts/Poppins-SemiBold.ttf);
	font-weight: 600;
}

@font-face{
	font-family: 'Opem sans';
	src:url(fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}


:root{
	/*Colors*/
	--Violet: hsl(257, 40%, 49%);
	--Soft-Magenta: hsl(300, 69%, 71%);
}

main{
	width: 100%;
	height: 100vh;
	background: var(--Violet) url(images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: 1190px 100vh;
}

main header{
	height: 140px;
	width: 100%;
}

header img{
	height: 47px;
	margin: calc((140px - 47px)/2) 66px;
}

.container{
	width: 1165px;
	height: 454px;
	margin: 30px auto;
}

.container .mockup{
	float: left;
	width: 637px;
	height: 454px;
}

.mockup img{
	position: relative;
	top: 3px;
	width: 100%;
	height: 100%;
}

.text{
	float: right;
	width: calc(1165px - 639px);
	height: 100%;
	padding: 43px 16px 40px 45px;
}

.text h1{
	font-family: 'Poppins semiBold';
	color: white;
	font-size: 35px;
}

.text p{
	font-family: 'Opem sans';
	color: white;
	font-size: 16px;
	margin-top: 20px;
	line-height: 24px;
}

.text button{
	width: 180px;
	height: 50px;
	border-radius: 30px;
	background-color: white;
	margin-top: 21px;
	font-family: 'Poppins regular';
	font-size: 16px;
	color: var(--Violet);
	border: none;
	box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
}

.text button:hover{
	background-color: var(--Soft-Magenta);
	color: white;
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height: 50px;
	display: block;
	bottom: 14px;
	padding-right: 68px;
}

footer div.social{
	float: right;
	height: 37px;
	width: 37px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 6px 7px;
}

footer div.social .icon{
	display: block;
	color: white;
	text-align: center;
	margin: 10px auto;
}

footer div.social:hover{
	border-color: var(--Soft-Magenta);
	cursor: pointer;
	color: var(--Soft-Magenta);
}

footer div.social:hover .icon{
	cursor: pointer;
	color: var(--Soft-Magenta);
}